body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
